.verdana100FFFFFFt {font-family: Verdana, Arial, Helvetica; font-size: 13px; color: #000000; text-decoration: none;}
.trebuchetms8808080FFFFFFt {font-family: "Trebuchet MS", Verdana, sans-serif; font-size: 11px; color: #808080; text-decoration: none;}
.trebuchetms8FF0000FFFFFFtu {font-family: "Trebuchet MS", Verdana, sans-serif; font-size: 11px; color: #0000FF; text-decoration: underline;}

